{%extends 'base.html'%}
<!DOCTYPE html>

{%block content%}
    <center>
      <table>
        <tr>
          <br>
          <br>
        </tr>
        <tr>
          <td>
            <p>
            <ul>
                 <a href="{%url 'regAbsent'%}">
                   <img src="/static/absent.jpg" alt="" width="254" height="200"  style="mix-blend-mode: multiply;">
                  </a>
                </ul>

            </p>
          </td>
          <td width="150"></td>
          <td>
            <p>
              <ul>
                   <a href="{%url 'login'%}">
                     <img src="/static/admin.jpg" alt="" width="254" height="200"  style="mix-blend-mode: multiply;">
                   </a>
                  </ul>
            </p>
          </td>
        </tr>
      </table>


  </center>
  {%endblock%}
